body {
    background-color: rgba(189, 184, 158, 0.5); /* Warna latar belakang seluruh halaman */
}

#rounded-navbar {
    background-color: #FDFBF0;
    padding: 5px;
    border-radius: 0 0 15px 15px;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-nav li {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    font-size: 14px;
    color: #868061;
    padding: 3px 5px;
    background-color: #FDFBF0;
    border: solid 1px #868061;
    border-radius: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .nav-item a:hover {
    background-color: #868061;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
    
  /* Gaya untuk tombol login */
  #loginButton {
    color: black;
    font-weight: bold;
    transition: color 0.3s; /* Efek transisi warna saat dihover */
  }
  
  #loginButton:hover {
    color: #ff9900; /* Warna teks tombol login saat dihover */
}

  /* Customize the carousel's appearance here */
.carousel {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .carousel-inner {
    text-align: center;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
  
  .carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: white;
  }
    
/* Tambahkan border ke gambar */
.img-border {
    border: 2px solid #ccc; /* Warna dan ketebalan border yang dapat Anda sesuaikan */
    padding: 10px; /* Spasi antara border dan gambar */
    border-radius: 5px; /* Bentuk border (opsional) */
}
  
  /* Untuk mengatur margin bawah pada elemen gambar */
  .img-margin {
    margin-bottom: 20px; /* Sesuaikan dengan kebutuhan Anda */
}

.about{
    background-color: #FFFFFF;
    padding: 10px 0px 10px 0px;
}
.about-text h2{
    text-align: center;
}
.about-text p{
    text-align: justify;
}
.product h2{
    text-align: center;
}
/* style.css */
/* Gaya tombol kategori */
.btn-group {
    display: flex;
    justify-content: center;
  }
  
  .btn-group button {
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid black; /* Warna border putih */
    border-radius: 5px;
    background-color: transparent;
    color: #000; /* Warna teks hitam */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-group button:hover {
    background-color: peachpuff;
    color: #fff;
  }

    .footer {
      background-color: #BBB48E;
        color: white;
        text-align: center;
        padding: 10px 0;
    }

    .about-text {
      grid-column: 2 / span 1; 
    }

    .best-seller-card {
        background-color: #BDB89E;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .collection-card {
        background-color: #FDFBF0;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }