$background-page: #BDB89E;
$primary-color: #868061;
$secondary-color: #BBB48E;
$background-color: #FDFBF0;
$white-color: #FFFFFF;
$default-font:'Times New Roman';


body{
    background-color: $background-page;
}

#rounded-navbar{
    background-color: $background-color; 
    padding: 5px;
    border-radius: 0 0 15px 15px;
    position: fixed;
    width: 100%;
    top: 0;
}
.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-nav li{
    margin-right:20px;
}
.nav-item a{
text-decoration: none;
font-size: 10px;
color: $primary-color;
padding: 3px 5px; 
background-color: $background-color; 
border: solid 1px $primary-color;
border-radius: 15px;

transition: background-color 0.3s ease, box-shadow 0.3s ease; 

display: flex;
align-items: center;
justify-content: center;

box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.nav-item a:hover{
background-color: $primary-color; 
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.about{
    background-color: $secondary-color;
    text-align: center;
}
.round-about{
    margin-top: 80px;
    border-radius: 15px;
    background-color: $background-color;
    padding: 10px 40px;
    display: inline-block;
}
.round-konala{
    $tertiary-color: #DBD6BC;
    margin-top: 20px;
    border-radius: 15px;
    background-color: $tertiary-color;
    padding: 10px 20px;
    display: inline-block;
}
.round-about h1{
    margin: 0;
    font-size: 20px;
}
.round-konala h1{
    margin: 0;
    font-size: 24px;
    font-style: italic;
    display: inline-block;
    letter-spacing: 8px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}   
.box-container{
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 10px;
    margin: 20px 200px 0px 200px;
    padding: 30px;
}
.content{
    display: flex;
}
.picture-box{
    flex: 1;
    height: 300px;
    background-color:$secondary-color;
    border-radius: 20px;
    text-align: center;
    background-image: url('foto.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
    flex: 2;
    height: 20%;
    border-radius: 40px 0px 40px 0px;
    margin-top: 100px;
    margin-left: 20px;
    background-color: $background-color;
    color: $primary-color;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.text-box p{
    text-align: center;
    font-size: 30px;
    font-family: $default-font, Times, sans-serif;
    padding: 25px 0px 10px 15px;
}
.under-text{
    margin-top: 15px;
    color: $primary-color;
    border-radius: 10px;
    padding: 10px;
    text-align:justify;
}
.review{
    background-color: $background-color;
    height: 700px;
    font-family: $default-font, Times, sans-serif;
}
.review h3{
    padding:15px 0px 10px 0px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.review-box {
    background-color: $background-page;
    padding: 10px 0px 10px 10px;
    border: 1px solid $white-color;
    border-radius: 10px;
    margin: 0px 0px 25px 0px;
}

#avatar{
    margin-bottom: 10px;
}
#name-customer{
    padding-top: 10px;
}
.review-box .user-avatar {
    font-size: 36px;
    color: $background-color;
}

.review-box .rating {
    $star-color: #E2DC3A;
    color: $star-color;
}

.kritik-saran{
    background-color: $background-page;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.kritik-saran h3{
    padding: 20px;
}
.form-container {
    margin: 0 auto;
    max-width: 500px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-submit{
    $black-color:#000000;
    font-family: $default-font, Times, serif;
    background-color: $white-color;
    color: $black-color;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.btn-submit:hover {
    background-color: $primary-color;
}
.ftr{
    background-color: $primary-color;
    border-radius: 15px 15px 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-content img{
    width: 60px;
    margin-right: 10px;
}

.text{
    text-align: center;
    margin-top: 12px;
    color: $white-color;
}

@media (max-width: 810px){
    body{
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    body{
        font-size: 12px;
    }
    .box-container{
        margin: 20px 20px 0px 20px; 
        padding: 20px; 
    }
}

@media (min-width: 1280px){
}