@use 'margin';
@import "partial";

$margin-hal: margin.$margin;

$first_border: 2;
$second_border: 2;
@function atur_border($n) {
  @return $n * $first_border * $second_border ;
}


$box-shadow: 0 4px 8px 0 rgba(142, 144, 165, 0.5);
$text-align: center;
$border-radius: atur_border(3px) !global;


.card {
  $paddingcard: 10px 50px;
  $background-colorcard: #bbb48e !global;
  box-shadow: $box-shadow;
  padding: $paddingcard;
  text-align: $text-align;
  border-radius: atur_border(3px);
  background-color: $background-colorcard;
}
.cardbox {
  $paddingcardboxtag: 20px !global;
  padding: $paddingcardboxtag;
  text-align: $text-align;
  border-radius: atur_border(3px);
}
.cardtag {
  $first_widthcardtag: 3%;
  $second_widthcardtag: 6%;
  @function atur_widthcardtag($c) {
    @return $second_widthcardtag + $c * $first_widthcardtag;
  }

  $widthcardtag: atur_widthcardtag(3);
  $displaycardtag: grid !global;
  $background-colorcardtag: #868061 !global;
  padding: $paddingcardboxtag;
  width: $widthcardtag;
  border-radius: atur_border(3px);
  background-color: $background-colorcardtag;
  text-align: $text-align;
  align-content: $align-content;
  color: $color;
  display: $displaycardtag;
}
.btn {
  $first_widthbtn: 5;
  $second_widthbtn: 4;
  @function atur_widthbtn($b) {
    @return $b * $first_widthbtn * ($second_widthbtn - 2);
  }
  $displaybtn: inline;
  $widthbtn: atur_widthbtn(3%) !global;
  display: $displaybtn;
  text-align: $text-align;
  justify-content: $justify-content;
  border-radius: atur_border(3px);
  flex-direction: $flex-direction;
  font-size: $font-size;
  width: $widthbtn;
  color: $background-colorcardtag;
  background-color: $color;
  border-color: $background-colorcard;
  cursor: $cursor;
  line-height: $line-height;
}

.btnsubmit {
  display: $displaycardtag;
  text-align: $text-align;
  justify-content: $justify-content;
  border-radius: atur_border(3px);
  flex-direction: $flex-direction;
  font-size: $font-size;
  width: $widthbtn;
  color: $color;
  background-color: $background-colorcardtag;
  border-color: $background-colorcard;
  cursor: $cursor;
  line-height: $line-height;
}

.footer {
  $first_widthfooter: 12%;
  $second_widthfooter: 8%;
  @function atur_widthfooter($f) {
    @return $f * $first_widthfooter + $f * $second_widthfooter;
  }
  $displayfooter: flow-root;
  $widthfooter: atur_widthfooter(5);
  padding: $paddingcardboxtag;
  width: $widthfooter;
  text-align: $text-align;
  background-color: $background-colorcardtag;
  margin: $margin-hal;
  display: $displayfooter;
}

h4,
h6 {
  color: $color;
}

h3,
h5,
p {
  color: $background-colorcardtag;
  text-align: $text-align;
}
