$box-shadow: 0 4px 8px 0 rgba(142, 144, 165, 0.5);
$text-align: center;
$border-radius: 12px;
$align-content: center;
$color: #fff;
$justify-content: center;
$flex-direction: column;
$font-size: 13px;
$cursor: pointer;
$line-height: 1.5;
$margin: auto;

.card {
  $paddingcard: 10px 50px;
  $background-colorcard: #bbb48e !global;
  box-shadow: $box-shadow;
  padding: $paddingcard;
  text-align: $text-align;
  border-radius: $border-radius;
  background-color: $background-colorcard;
}
.cardbox {
$paddingcardboxtag: 20px !global;
  padding: $paddingcardboxtag;
  text-align: $text-align;
  border-radius: $border-radius;
}
.cardtag {
  $widthcardtag: 15%;
  $displaycardtag: grid !global;
  $background-colorcardtag: #868061 !global;
  padding: $paddingcardboxtag;
  width: $widthcardtag;
  border-radius: $border-radius;
  background-color: $background-colorcardtag;
  text-align: $text-align;
  align-content: $align-content;
  color: $color;
  display: $displaycardtag;
}
.btn {
  $displaybtn: inline;
  $widthbtn: 30% !global;
  display: $displaybtn;
  text-align: $text-align;
  justify-content: $justify-content;
  border-radius: $border-radius;
  flex-direction: $flex-direction;
  font-size: $font-size;
  width: $widthbtn;
  color: $background-colorcardtag;
  background-color: $color;
  border-color: $background-colorcard;
  cursor: $cursor;
  line-height: $line-height;
}

.btnsubmit {
  display: $displaycardtag;
  text-align: $text-align;
  justify-content: $justify-content;
  border-radius: $border-radius;
  flex-direction: $flex-direction;
  font-size: $font-size;
  width: $widthbtn;
  color: $color;
  background-color: $background-colorcardtag;
  border-color: $background-colorcard;
  cursor: $cursor;
  line-height: $line-height;
}

.footer {
  $displayfooter: flow-root;
  $widthfooter: 100%;
  padding: $paddingcardboxtag;
  width: $widthfooter;
  text-align: $text-align;
  background-color: $background-colorcardtag;
  margin: $margin;
  display: $displayfooter;
}

h4,
h6 {
  color: $color;
}

h3,
h5,
p {
  color: $background-colorcardtag;
  text-align: $text-align;
}
