/* Error: 8px and 4px*px have incompatible units.
 *   ,
 * 4 |   @return $n * $first_border + ($n - $first_border) * $second_border;
 *   |           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   Katalog.scss 4:11  atur-border()
 *   Katalog.scss 9:17  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 8px and 4px*px have incompatible units.\a   \2577 \a 4 \2502    @return $n * $first_border + ($n - $first_border) * $second_border;\d\a   \2502            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   Katalog.scss 4:11  atur-border()\a   Katalog.scss 9:17  root stylesheet";
}
